fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
psycopg2-binary
python-dotenv
pytest
pandas
numpy
scikit-learn
requests
httpx
scikit-learn
tensorflow
joblib
pandas-datareader
groq
python-dotenv
llama-cpp-python