fastapi
uvicorn
httpx
pydantic
pydantic-settings
# Data Processing
pandas
numpy
pandas-ta
scikit-learn
joblib
pandas-datareader
# Deep Learning
tensorflow
# MLOps
mlflow
# Finance News
feedparser>=6.0.10
# Scientific Evaluation
scipy>=1.10.0